.containerDesk {
  display: flex;
  flex-direction: row;
  background: #f3f3f1;
  gap: 2rem;
}
.containerMobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 4rem;
}

.sideNavApp {
  width: 15rem;
}

.componentApp {
  flex: 1;
}

.pageTitleCont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 2rem;
  width: 100%;
}
.pageHeader {
  font-size: 2.2rem;
  font-weight: 600;
}

.pageSubHeader {
  font-size: 1.2rem;
}

.privacyText {
  font-size: 0.8rem;
  color: dimgray;
}
.privacyLink {
  border-bottom: solid 1px dimgray;
  font-weight: 500;
}

@media (max-width: 768px) {
  .privacyText {
    font-size: 0.5rem !important;
  }

  .pageHeader {
    font-size: 2rem !important;
  }

  .pageSubHeader {
    font-size: 1rem !important;
  }
}
