.availability-container {
  padding: 1rem;
}

.availability-select {
  margin-top: 3rem;
}

.template-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.template-option .material-symbols-outlined {
  font-size: 1.3rem;
}

.availibility-body {
  margin-top: 2rem;
}
